@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: rgb(237, 246, 248);
  --light-color: #ffffff;
  --dark-color: #000000;
  --link-color: orange;
}

html, body {
  height: 100%;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

  /* Masthead */
  masthead {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
    color: var(--light-color);
  }
  
  masthead h1 {
    margin-right: auto;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 auto 0 0;
    font-family: Montserrat, Helvetica, sans-serif;
  }
  
  masthead img {
    display: inline-block;
    align-self: center;
    width: auto;
    height: 2.5em;
    margin-right: .5em;
  }
  
  masthead ul {
    padding-inline-start: 0;
    font-size: 1.5em;
    font-weight: 400;
  }
  
  masthead li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  masthead a {
    text-decoration: none;
    color: var(--light-color);
    transition: all 0.3s ease 0s;
  }
  
  masthead a:hover {
    color: var(--link-color)
  }

  .home-hero {
    width: 100vw;
    height: 100vh;
    /* background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(../images/bagel.jpg); */
    background-image: url("../images/bagel.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .headline-holder {
    height: calc(100% - 6em);
    position: relative;
  }

  .headline-1, .headline-2 {
    width: 100%;
    text-align: center;
    position: absolute;
    h1 {
      font-size: 4em;
      color: var(--light-color);
    }
  }

  .headline-1 {
    top: 15%;
  }

  .headline-2 {
    bottom: 12%;
  }

  .home-prompt {
    text-align: center;
    background-color: #45382A;
    padding: 2em;
    margin-bottom: 4em;
    color: var(--light-color);
    h2 {
      font-size: 3em;
    }
  }

  .item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2em;
    margin-bottom: 2em;
    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 1em;
    }
    .item-text {
      background-color: #E59F41;
      border-radius: 1em;
      color: var(--light-color);
      padding: 2em;
      h3 {
        font-size: 2em;
        margin-bottom: .5em;
      }
    }
  }

  .footer {
    height: 15em;
    width: 100vw;
    background-color: #45382A;
  }